*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(90deg, rgba(34,131,143,1) 0%, rgba(9,121,99,1) 36%, rgba(5,38,44,1) 100%);
}

/*Parte donde se le da estilo al navbar*/
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #0d1117;
    justify-content: center;
    padding: 0 10px;
  }

.navbar > ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
 }

.navbar > ul > li{
    list-style: none;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin: 5px;
    height: 52px;
 }

 .navbar > ul > li > a{
    text-decoration: none;
    color: #54dfe7;
    font-weight: 400;
    font-size: 20px;
 }

 .navbar > ul > li > a:hover{
    color: rgb(161, 161, 161);
 }

 .navbar > ul > li:hover{
    border: solid #404c5d 1px;
    background: #94e6ea6c;  
    border-radius: 4px;
 }


section > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
}

.card {
    --background: linear-gradient(to left, #46c2c8 0%, #259e94 100%);
    width: 290px;
    height: 154px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: var(--background);
    position: relative;
    z-index: 1;
   }
   
   .card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: var(--background);
    transition: opacity .5s;
   }
   
   .card-body {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
   }
   
   .card .title {
    font-weight: bold;
    letter-spacing: .1em;
   }
   
   /*Hover*/
   .card:hover::after {
    opacity: 0;
   }
   
   .card:hover .card-body {
    color: #54dfe7;
    transition: color 1s;
   }
   
/*Parte donde se trabaja el estilo del button*/
   button {
    background-color: transparent;
    height: 50px;
    margin: 5px;
    width: 120px;
    justify-content: center;
    cursor: pointer;
    border: none;
    color: #181818;  
    font-size: 14px;
    position: relative;
    transition: all 1s; 
}

button:hover {
    color: rgb(161, 161, 161);
    font-size: 16px;  
    border: solid #404c5d 1px;  
}

button:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, #46c2c8 0%, #259e94 100%);
    filter: blur(10px);
    z-index: -1;
    transition: opacity 0.5s ease-out;
    opacity: 0.5;
}